<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID">
	<display-name>abc-restaurant-web</display-name>
	<servlet>
		<description>
		</description>
		<display-name>ItemController</display-name>
		<servlet-name>ItemController</servlet-name>
		<servlet-class>com.controller.ItemController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ItemDao</display-name>
		<servlet-name>ItemDao</servlet-name>
		<servlet-class>com.dao.ItemDao</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Item</display-name>
		<servlet-name>Item</servlet-name>
		<servlet-class>com.model.Item</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ItemService</display-name>
		<servlet-name>ItemService</servlet-name>
		<servlet-class>com.service.ItemService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ItemController</servlet-name>
		<url-pattern>/ItemController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ItemDao</servlet-name>
		<url-pattern>/ItemDao</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Item</servlet-name>
		<url-pattern>/Item</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ItemService</servlet-name>
		<url-pattern>/ItemService</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
